<!-- Services Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Tidy Favs</h2>
                <h3 class="section-subheading text-muted">Thinking of your needs.</h3>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>What is Tidy Favs for?</h2>
                    <p class="lead">Think about all the information you have stored over the years: notes, bookmarks, shopping lists, recipes, links, contacts, TO-DO lists and most of it spread among several applications. 
                    Tidy Favs is a way to store, tag and find your favorite content while giving you a great look and feel related to the content type.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/img/about/ipad.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>Check your content in all your devices</h2>
                    <p class="lead">All your content that you save will be notify to all your your mobile and tablet devices that are login.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/img/about/dog.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>What can you do with all your content?</h2>
                    <p class="lead">With Tidy Favs you can share your content to your favorite social networks in a very nice format that you change and customise.<br/>
                    Export all your content in different format like PDF, CSV, DOC and many other formats. 
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/img/about/phones.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>