<!-- Services Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Copyshare</h2>
                <h3 class="section-subheading text-muted">Thinking on your needs.</h3>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>What is Copyshare for?</h2>
                    <p class="lead">A way to share any URL that you want to open it in a different
                    device one time only.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/img/about/ipad.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>Share it with all your devices</h2>
                    <p class="lead">Copy the URL that you want to share with all your devices. <br/>
                    Send it. Done!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/img/about/dog.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>Check your devices</h2>
                    <p class="lead">Once you have shared the url, <br/>
                    it should appears a notification <br/> 
                    in all the devices where you are login <br/>
                    Once you read it you might keep it on just destroy it.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/img/about/phones.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>