<section id="check-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Your content</h2>
            </div>
        </div>
        <div class="row" data-ng-controller="CheckController" data-ng-init="checkUnreadContent()">
            <div class="col-lg-12 text-center" data-ng-if="isEmpty()">
                <div class="glyphicon glyphicon-info-sign"></div>
                <h3 class="font-color-gray">Empty</h3>
            </div>
            <div class="col-lg-12" data-ng-repeat="content in contents">
                <div class="input-group">
                    <label class="form-control" for="content">{{content.content}}</label>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-m" clipboard text="content.content" on-copied="showSuccessMessage()">Copy</button>
                        <button type="button" class="btn btn-m" data-ng-click="markAsRead(content)">Read</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>